*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start of navigation bar */
nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(56deg, rgb(14, 133, 109) 13%, rgb(10, 123, 42) 53%, rgb(6, 114, 40) 82%, rgba(19, 138, 6, 0.859) 100%);
    top: 0%;
    text-align: right top;
}
.logo{
    margin: 5px 20px;
    float: left;
}
nav ul{
    float: right;
    list-style-type: none;
    padding: 0;
    height: 50
}
nav ul li{
    display: inline-block;
    padding: 20px 20px;
    
    
}
nav ul li:hover{
    background-color: rbg(54, 201, 118, 0.674);
    height: 0px;
}
nav ul li:active{
    background-color: rgba(27, 68, 6, 0.942);
}
nav ul li a{
    color: rgb(16, 29, 2);
    text-transform: uppercase;
    text-decoration: underline;
}
nav ul li a:hover{
    color: rgb(123, 7, 7);
}

/* end of navigation bar */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    
}
  /* This is the start of my about horses  */

.headerintro{
    width: 100%;
    height: 400px;

}
.textColumns{
    width: 50%;
    height: 300px;
    text-align: center;
    position: relative;
    left: 27%;
    top: 10%;

}
.textColumns h2{
    font-size: 40px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}
.textColumns p{
    column-count: 3;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}
.horses{
    margin-left: 250px;
    padding: 0px;
    left: 27%;
}
/* this is the end of my about horses */
/* start of my services and amenities */
h3{
    font-size: 20px;
    font-weight: bold;
}
.lessons{
    height: auto;
    width: 50%;
    margin-top: 90px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    
}
.lessons p{
    width: auto;
    height: 100px;
    float: right
    
}
.cannonlunge{
    display:inline-block;
    right: 0%;
}
h4{
    font-size: 20px;
    font-weight: bold;
}

.photo{
    height: auto;
    width: 50%;
    margin-top: 90px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
}
.photo p{
    width:100%;
    height: 100px;
    text-align: center;
}
.beauphoto{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}
h5{
    font-size: 20px;
    font-weight: bold;
}

.lease{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    
}
.lease p{
    text-align:center;
    width: 100%;
    height: 100px;
}
.umbrella{
    display: inline-flex;
    right: 0%;
}

h6{
    font-size: 20px;
    font-weight: bold;
}
.care{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
}
.care p{
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.feeding{
    display: inline-flex;
    left: 0%;
}
h7{
    font-size: 20px;
    font-weight: bold;
}
.pool{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
}
.pool p{
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.notmypool{
    display:inline-flex;
    right: 0px;
}
h8{
    font-size: 20px;
    font-weight: bold;
}
.tack{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
}
.tack p{
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.notmyroom{
    display: inline-flex;
    left: 0;
}
h9{
    font-size: 20px;
    font-weight: bold;
}
.playground{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
}
.playground p{
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.notmyplay{
    display: inline-flex;
    right: 0%;
}
h10{
    font-size: 20px;
    font-weight: bold;
}
.kitchen{
    height: auto;
    width: 50%;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 100px;
    margin-left: 100px;
    
}
.kitchen p{
    text-align: center;
    width: 100%;
    height: 100px;
    
}
.notmykitchen{
    display: inline-flex;
    left: 0%;
}
/* this is the end of my about horses */




/* start of my footer */
footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin-top: auto;
    position:relative;
    bottom: 0%;
    width: 100%;
  
    
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #234b28;
    color: #379e44;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #1b5623;
    transition: 0.5s;
}

.footer{
    background: linear-gradient(56deg, rgb(14, 133, 109) 13%, rgb(10, 123, 42) 53%, rgb(6, 114, 40) 82%, rgba(19, 138, 6, 0.859) 100%);
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
    
    
}
.footerbottom{
    background: linear-gradient(56deg, rgb(14, 133, 109) 13%, rgb(10, 123, 42) 53%, rgb(6, 114, 40) 82%, rgba(19, 138, 6, 0.859) 100%);
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
    bottom: 0%;
    
}
/* end of footer */




